
:root {
    --tmargin: 420px;
    --lmargin: 22px;
    --t2margin: 420px;
    --l2margin: 22px;
}

.rectangle {
width: 139px;
height: 1400px;
background-color: #4DB6AC;;
}

.title1 {
text-align: left;
font: normal normal normal 42px/58px Euphemia UCAS;
letter-spacing: 0px;
color: black;
text-transform: uppercase;
opacity: 1;
}

.title2 {
text-align: left;
font: normal normal normal 20px/28px Euphemia UCAS;
letter-spacing: 0px;
color: black;
opacity: 1;
}

.nameOnTop {
width: 451px;
height: 56px;
position: absolute;
left: 30%;
margin-right: -50%;
top: 0px;
left: 229px;
line-height: 1.5em;
}
/*top: 5%;
transform: translate(-50%, -50%)*/

.experience {
width: 513px;
height: 27px;
position: absolute;
left: 30%;
margin-right: -50%;
top: 200px;
left: 178px;
line-height: 1.5em;
text-align: left;
font: normal normal normal 12px/20px Euphemia UCAS;
letter-spacing: 0px;
color: black;
opacity: 1;
}

.skills {
position: absolute;
top: 40px;
left: 935px;
width: 317px;
height: 93px;
text-align: left;
font: normal normal normal 12px/20px Euphemia UCAS;
letter-spacing: 0px;
color: black;
opacity: 1;
}

.titlePosition {
text-align: left;
font: normal normal normal 16px/22px Euphemia UCAS;
letter-spacing: 0px;
color: black;
opacity: 1;
}

.place {
text-align: left;
font: normal normal normal 12px/16px Euphemia UCAS;
letter-spacing: 0px;
color: black;
opacity: 1;    
}

.dates {
/*position: absolute;
top: 84px;
left: 5px;*/
text-align: right;
font: normal normal normal 12px/16px Euphemia UCAS;
letter-spacing: 0px;
color: black;
opacity: 1;	
/*width: 120px;
height: 32px;*/
}

.leftdates {
text-align: right;
font: normal normal normal 12px/16px Euphemia UCAS;
letter-spacing: 0px;
color: black;
opacity: 1; 
}

#R {
top: -7px;
left: 764px;
position: absolute;
z-index:-1;
}

#summary {
text-align: center;
font: normal normal normal 15px/20px Euphemia UCAS;
letter-spacing: 0px;
color: black;
opacity: 1;
}

#job1{
position: absolute;
top: var(--tmargin);
left: var(--lmargin);
}

#job2 {
position: absolute;
top: 500px;
left: var(--lmargin);
}

#job3 {
position: absolute;
top: calc(var(--tmargin + 400));
left: var(--lmargin);
}

#job4 {
position: absolute;
top: calc(var(--tmargin + 500));
left: var(--lmargin);
}

#job5 {
position: absolute;
top: calc(var(--tmargin + 600));
left: var(--lmargin);
}

#job6 {
position: absolute;
top: calc(var(--tmargin + 700));
left: var(--lmargin);
}

#job7 {
position: absolute;
top: calc(var(--tmargin + 1000));
left: var(--lmargin);
}

#edu1 {
position: absolute;
top: 200px;
left: 22px;
/*top: var(--t2margin);
left: var(--l2margin);*/
}

#edu2 {
position: absolute;
top: var(--t2margin);
left: var(--l2margin);
}

#edu3 {
position: absolute;
top: var(--t2margin);
left: calc(var(--l2margin) + 200);
}

#MedWri {
text-align: center;
font: normal normal normal 20px/28px Euphemia UCAS;
letter-spacing: 0px;
color: black;
}